.app_category {
    display: inline-block
}

.dropdown-item {
    min-width: 250px;
}

.app_category-smallscreen {
    display: none;
    width: 100%;
}

.badge_smallscreen {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .app_category {
        display: none;
    }

    .app_category-smallscreen {
        display: block;
    }

    .category {
        float: left;
    }

    .categoty_icon {
        float: right;
    }
}