.product-favorite {
    font-size: x-large;
    margin-top: 7px;
}

.product_img {
    width: 40px;
}

.product_img:hover {
    width: 200px;
}

.short_button.btn.btn-secondary {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
}

span {
    margin-right: auto;
}

.sort_icon {
    margin-left: auto;
}

.badge.bg-secondary {
    margin-left: 10px;
}

@media screen and (max-width: 600px){
    .short_button.btn.btn-secondary{
        font-size: small;
    }
    .badge.bg-warning {
        font-size: medium;
        margin-right: 0px;
    }
    .badge.bg-secondary {
        font-size: medium;
        margin-left: 0px;
        margin-right: 0px;
    }
}